body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.headerp1 {
    display: grid;
    justify-self: start;
    margin: 0 0 0 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 46px;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em rosybrown;
}

.headerp2 {
    display: grid;
    justify-self: end;
    grid-column: 3/4;
    margin: 0 20px 0 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em rosybrown;
}

header {
    background-image: url(img/123.jpg);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: start;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
    align-content: center;
}

.navbar {
    border-bottom: 2px black solid;
    height: 60px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    background-color: indianred;
    text-shadow: 0px 0px 1px black;
    margin: 0px;
    padding: 0px;
    height: 60px;
    align-items: center;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 60px;
    font-size: 20px;
}

nav > ul > li > a:hover {
    color: ghostwhite;
    font-size: 150%;
    transition: all 0.3s;
}

nav > ul > li {
    background-color: lightcoral;
    list-style-type: none;
    border-radius: 20px;
    border: 1px black solid;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-shadow: 1px 1px 0px white, 0 0 0em black, 0 0 0.2em rosybrown;
}

h3 {
    font-size: 25px;
    text-shadow: 1px 0px 0px grey, 0 0 0em black, 0 0 0.2em rosybrown;
}

.h3head {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-shadow: 1px 1px 0px white, 0 0 0em black, 0 0 0.2em rosybrown;
}

.article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 30px;
    gap: 50px;
    margin: 50px;
    width: 80%;
}

.article1 {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    padding: 30px;
    border-radius: 5px;
    border: 1px black solid;
}

#img1, #img2, #img3, #img4, #img5, #img6 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.articlea {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 0em black, 0 0 0.2em rosybrown;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.articlea:hover {
    color: red;
    font-size: 120%;
    transition: all 0.3s;
}

.sidebar {
    display: grid;
    height: 260px;
    gap: 50px;
    position: fixed;
    width: 50px;
    top: 50%;
    right: 50px;
    background-color:transparent;
    }
    
    .sidebar *{
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    background-color: indianred;
    border-top: 2px black solid;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50px;
    justify-content: space-around;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    text-shadow: 0px 0px 1px black;
    align-items: center;
}

.footer-item:hover {
    color: whitesmoke;
    font-size: 120%;
    transition: all 0.3s;
    text-shadow: 0px 0px 1px black;
}

.footerp {
    display: flex;
    font-size: 18px;
}